<div class="main-menu">
	<header class="header">
		<a href="/dashboard" class="logo">SweetU</a>
		<button type="button" class="button-close fa fa-times js__menu_close"></button>
	</header>
	<!-- /.header -->
	<div class="content">

		<div class="navigation">
			<ul class="menu js__accordion">
				<li class="current">
					<a class="waves-effect" href="/dashboard"><i class="menu-icon mdi mdi-view-dashboard"></i><span>Dashboard</span></a>
				</li>
				<li>
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon mdi mdi-account-multiple"></i><span>User</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a href="/add-user">Add User</a></li>
						<li><a href="/user-list">User List</a></li>
						<li><a href="/authorised-user-list">Authorised User List</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
				<li>
					<a class="waves-effect" href="/get-block-user"><i class="menu-icon mdi mdi-account-off"></i><span>Block Log</span></a>
				</li>
				<li>
					<a class="waves-effect" href="/settings"><i class="menu-icon mdi mdi-coin"></i><span>Settings</span></a>
				</li>
				<li>
					<a class="waves-effect" href="/redeem"><i class="menu-icon mdi mdi-gift"></i><span>Redeem Settings</span></a>
				</li>
				<li>
					<a class="waves-effect" href="/redeem-request"><i class="menu-icon mdi mdi-note"></i><span>Redeem Log</span></a>
				</li>
				<li>
					<a class="waves-effect" href="/purchase"><i class="menu-icon mdi mdi-diamond"></i><span>Purchase</span></a>
				</li>
				<li>
					<a class="waves-effect" href="/subscription"><i class="menu-icon mdi mdi-diamond"></i><span>Subscription</span></a>
				</li>
				<li>
					<a class="waves-effect" href="/subscription-log"><i class="menu-icon mdi mdi-diamond"></i><span>Subscription Log</span></a>
				</li>
				<li>
					<a class="waves-effect" href="/get-coinlog"><i class="menu-icon mdi mdi-diamond"></i><span>Coin Purchase Log</span></a>
				</li>
				<li>
					<a class="waves-effect" href="/sticker"><i class="menu-icon mdi mdi-sticker"></i><span>Sticker</span></a>
				</li>
				<li>
					<a class="waves-effect" href="/country"><i class="menu-icon mdi mdi-earth"></i><span>Country</span></a>
				</li>
				<li>
					<a class="waves-effect" href="/editor"><i class="menu-icon mdi mdi-pencil"></i><span>Editor</span></a>
				</li>
				<li>
					<a class="waves-effect" href="/get-notification"><i class="menu-icon mdi mdi-pencil"></i><span>Notification</span></a>
				</li>
				<li>
					<a class="waves-effect" href="/get-add"><i class="menu-icon mdi mdi-newspaper"></i><span>Advertisement</span></a>
				</li>
				
			</ul>
			<!-- /.menu js__accordion -->
		</div>
		<!-- /.navigation -->
	</div>
	<!-- /.content -->
</div>