<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title><%= pageTitle %></title>

	<!-- Main Styles -->
	<link rel="stylesheet" href="/styles/style.min.css" />
	
	<!-- Material Design Icon -->
	<link rel="stylesheet" href="/fonts/material-design/css/materialdesignicons.css" />

	<!-- mCustomScrollbar -->
	<link rel="stylesheet" href="/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css" />

	<!-- Waves Effect -->
	<link rel="stylesheet" href="/plugin/waves/waves.min.css" />

	<!-- Sweet Alert -->
	<link rel="stylesheet" href="/plugin/sweet-alert/sweetalert.css" />
	
	<!-- iCheck -->
	<link rel="stylesheet" href="/plugin/iCheck/skins/square/blue.css" />

	<!-- Color Picker -->
	<link rel="stylesheet" href="/color-switcher/color-switcher.min.css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
    <%- include('includes/sidebar.ejs') %>
    <!-- /.main-menu -->

    <%- include('includes/header.ejs') %>
<div id="wrapper">
	<div class="main-content">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Suggestions</h3>
						<!-- /.box-tools -->
					</div>
					<!-- /.box-header -->
					<div class="box-body no-padding">
						<div class="table-responsive mailbox-messages">
							<table class="table table-hover table-striped">
								<tbody>
									<tr class="">
                                        <a href="./read-mail.html">
										<td class="mailbox-name">Mat Helme</td>
                                        <td class="mailbox-date" style="text-align: right;">5 mins ago</td>
                                        </a>    
                                    </tr>
								</tbody>
							</table>
							<!-- /.table -->
						</div>
						<!-- /.mail-box-messages -->
					</div>
				</div>
				<!-- /. box -->
            </div>
            <div class="col-md-6 col-xs-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Problems</h3>
						<!-- /.box-tools -->
					</div>
					<!-- /.box-header -->
					<div class="box-body no-padding">
						<div class="table-responsive mailbox-messages">
							<table class="table table-hover table-striped">
								<tbody>
									<tr class="">
                                        <a href="./read-mail.html">
										<td class="mailbox-name">Mat Helme</td>
                                        <td class="mailbox-date" style="text-align: right;">5 mins ago</td>
                                        </a>    
                                    </tr>
								</tbody>
							</table>
							<!-- /.table -->
						</div>
						<!-- /.mail-box-messages -->
					</div>
				</div>
				<!-- /. box -->
            </div>
            
			<!-- /.col-md-9 col-xs-12 -->
		</div>
		<!-- /.row -->		
		<%- include('includes/footer.ejs') %>
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="./assets/scripts/jquery.min.js"></script>
	<script src="./assets/scripts/modernizr.min.js"></script>
	<script src="/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/plugin/nprogress/nprogress.js"></script>
	<script src="/plugin/sweet-alert/sweetalert.min.js"></script>
	<script src="/plugin/waves/waves.min.js"></script>
	<!-- Full Screen Plugin -->
	<script src="/plugin/fullscreen/jquery.fullscreen-min.js"></script>

	<!-- iCheck -->
	<script src="/plugin/iCheck/icheck.min.js"></script>
	<script src="./assets/scripts/mailbox.init.min.js"></script>

	<script src="./assets/scripts/main.min.js"></script>
	<script src="/color-switcher/color-switcher.min.js"></script>
</body>
</html>