<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>Home</title>
	<link rel="stylesheet" href="/styles/style.min.css" />

	<!-- Waves Effect -->
	<link rel="stylesheet" href="/plugin/waves/waves.min.css" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
	<% if(errorMessage) {%>
		<%= errorMessage %>
	<% } %>
<div id="single-wrapper">
	<form action="/user-forget-password" method="POST" class="frm-single" >
		
		<div class="inside">
			<div class="title"><strong>SweetU</strong></div>
			<!-- /.title -->
			<div class="frm-title">Enter UserId</div>
			<!-- /.frm-title -->
			<div class="frm-input"><input type="text" placeholder="User id" name="inputAdminUserId" id="inputAdminUserId" class="frm-inp" /><i class="fa fa-user frm-ico"></i></div>
			<!-- /.frm-input -->
			<!-- /.frm-input -->
			<!-- /.clearfix -->
			<button type="submit" class="frm-submit">Submit<i class="fa fa-arrow-circle-right"></i></button>
			<div class="frm-footer">KARON INFO TECH © 2020.</div>
			<!-- /.footer -->
		</div>
		<!-- .inside -->
	</form>
	<!-- /.frm-single -->
</div><!--/#single-wrapper -->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/scripts/jquery.min.js"></script>
	<script src="/scripts/modernizr.min.js"></script>
	<script src="/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="/plugin/nprogress/nprogress.js"></script>
	<script src="/plugin/waves/waves.min.js"></script>

	<script src="/scripts/main.min.js"></script>
</body>
</html>