<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>Home</title>
	<link rel="stylesheet" href="/styles/style.min.css" />

	<!-- Waves Effect -->
	<link rel="stylesheet" href="/plugin/waves/waves.min.css" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
	<% if(errorMessage) {%>
		<%= errorMessage %>
	<% } %>
<div id="single-wrapper">
	<form action="/user-login" method="POST" class="frm-single" >
		
		<div class="inside">
			<div class="title"><strong>SweetU</strong></div>
			<!-- /.title -->
			<div class="frm-title">Login</div>
			<!-- /.frm-title -->
			<div class="frm-input"><input type="email" placeholder="User id" name="inputAdminUserId" id="inputAdminUserId" class="frm-inp" /><i class="fa fa-user frm-ico"></i></div>
			<!-- /.frm-input -->
			<div class="frm-input"><input type="password" placeholder="Password" name="inputAdminPassword" id="inputAdminPassword" class="frm-inp" /><i class="fa fa-lock frm-ico"></i></div>
			<!-- /.frm-input -->
			<div class="clearfix margin-bottom-20">
				<div class="pull-left">
					<div class="checkbox primary"><input type="checkbox" id="rememberme" /><label for="rememberme">Remember me</label></div>
					<!-- /.checkbox -->
				</div>
				<!-- /.pull-left -->
				<div class="pull-right"><a href="/user-forget-password" class="a-link"><i class="fa fa-unlock-alt"></i>Forgot password?</a></div>
				<!-- /.pull-right -->
			</div>
			<!-- /.clearfix -->
			<button type="submit" class="frm-submit">Login<i class="fa fa-arrow-circle-right"></i></button>
			<div class="frm-footer">KARON INFO TECH © 2020.</div>
			<!-- /.footer -->
		</div>
		<!-- .inside -->
	</form>
	<!-- /.frm-single -->
</div><!--/#single-wrapper -->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/scripts/jquery.min.js"></script>
	<script src="/scripts/modernizr.min.js"></script>
	<script src="/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="/plugin/nprogress/nprogress.js"></script>
	<script src="/plugin/waves/waves.min.js"></script>

	<script src="/scripts/main.min.js"></script>
</body>
</html>