<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Modals - Zeiss Template</title>

    <!-- Main Styles -->
    <link rel="stylesheet" href="/styles/style.min.css" />

    <!-- Material Design Icon -->
    <link rel="stylesheet" href="/fonts/material-design/css/materialdesignicons.css" />

    <!-- mCustomScrollbar -->
    <link rel="stylesheet" href="/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css" />

    <!-- Waves Effect -->
    <link rel="stylesheet" href="/plugin/waves/waves.min.css" />

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="/plugin/sweet-alert/sweetalert.css" />

    <!-- Remodal -->
    <link rel="stylesheet" href="/plugin/modal/remodal/remodal.css" />
    <link rel="stylesheet" href="/plugin/modal/remodal/remodal-default-theme.css" />

    <!-- Color Picker -->
    <link rel="stylesheet" href="/color-switcher/color-switcher.min.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <%- include('includes/sidebar.ejs') %>
    <!-- /.main-menu -->

    <%- include('includes/header.ejs') %>
    <div id="wrapper">
        <div class="main-content">
            <div class="row row-inline-block small-spacing">
            <div class="col-xs-12">
                <div class="box-content card white">
                    <div class="card-content">
                        <form method="POST" action="/edit-sticker">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Number of Coins</label>
                                <input type="hidden" value="<%= data._id %>" name="inputStickerId" id="inputStickerId">
                                <input type="text" class="form-control" value="<%= data.coin %>" name="inputCoin" id="inputCoin"
                                    placeholder="Enter number of coins">
                            </div>
                            <button type="submit" class="remodal-confirm">Submit </button>
                        </form>
                    </div>
                    <!-- /.card-content -->
                </div>
                <!-- /.box-content -->
            </div>
            </div>
            </div>
            </div>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
    <!-- 
	================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/modernizr.min.js"></script>
    <script src="/plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/plugin/nprogress/nprogress.js"></script>
    <script src="/plugin/sweet-alert/sweetalert.min.js"></script>
    <script src="/plugin/waves/waves.min.js"></script>
    <!-- Full Screen Plugin -->
    <script src="/plugin/fullscreen/jquery.fullscreen-min.js"></script>

    <!-- Remodal -->
    <script src="/plugin/modal/remodal/remodal.min.js"></script>

    <script src="/scripts/main.min.js"></script>
    <script src="/color-switcher/color-switcher.min.js"></script>
    <script src="/js/purchase.js"></script>
</body>

</html>